@tailwind base;
@tailwind components;
@tailwind utilities;


.calendar {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .calendar-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .calendar-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .calendar-nav-button {
    padding: 6px;
    font-size: 16px;
    background-color: #e6e6e6;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .calendar-nav-button:hover {
    background-color: #d4d4d4;
  }
  
  .current-month-year {
    font-size: 18px;
    margin: 0 20px;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-bottom: 20px;
  }
  
  .calendar-header {
    text-align: center;
    font-weight: bold;
  }
  
  .calendar-day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .calendar-day.empty {
    background-color: transparent;
    border: none;
    cursor: default;
  }
  
  .calendar-day:hover {
    background-color: #f0f0f0;
  }
  
  .calendar-day.selected {
    background-color: #3498db;
    color: #ffffff;
  }
  
  .appointment-form {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 10px;
  }
  
  .form-title {
    margin: 0;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .selected-date {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-input {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #e6e6e6;
}

.form-button {
  display: block;
  width: 100%;
  padding: 8px 12px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.form-button:hover {
  background-color: #258cd1;
}

.current-date {
  text-align: center;
  font-size: 14px;
  color: #777777;
  margin-top: 10px;
}







  